# Default ignored files
/shelf/
/.idea/workspace.xml
/keys
/keys
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/misc.xml
/python/__pycache__
