# Default ignored files
/shelf/
/.idea/workspace.xml
/keys/localhost+1.pem
/keys/localhost+1-key.pem
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/misc.xml
/python/__pycache__
